<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Documentación</p>
    <a href="/files/README.MD">Descargar documentación</a>
  </body>
</html>
